table {
    margin-top: 2rem;
    width: 100vw
}

tr:not(:first-of-type):hover {
    cursor: pointer;
    transform: translateY(-0.15rem);
    transition: transform 150ms;
}

table, th, td {
    border: .25px solid green;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

caption {
    padding-bottom: 1rem;
}