.choice-container {
    /* border: 1px solid green; */
}

.testing-options {
    display: flex;
    justify-content: space-between;
}

#hud {
    margin-bottom: 2rem;
}

#hud-item {
    text-align: right;
}

.explanation p{
    /* border: 1px solid green; */
    padding: .75rem;
}

.explanation {
    border: 1px solid green;
    background-color: rgba(255, 255, 255, 0.055);
    visibility: hidden;
}

.correct{
    background-color: #28a745;
}

.incorrect {
    background-color: #dc3545;
}