.title {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.055);
  /* margin-bottom: 0; */
}

h1 {
  /* margin-bottom: -.25rem;
    margin-top: -.25rem; */
  padding: 1rem;
  line-height: 2.25rem;
  margin-bottom: 0;
}

table {
  width: 80vw;
}

tr:not(:first-of-type):hover {
  cursor: pointer;
  transform: translateY(-0.15rem);
  transition: transform 150ms;
}

table,
th,
td {
  border: 0.25px rgb(19, 16, 16);
  border-collapse: collapse;
}

canvas {
  width: 80vw;
  margin-top: 0.5rem;
}

th,
td {
  padding: 10px;
}

caption {
  padding-bottom: 1rem;
}

.card {
  width: 85vw;
}

.bottom {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.top {
  margin-top: 4rem;
}

.parent {
  width: 75vw;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.child {
  padding: 1rem;
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: smaller;
}

.button {
  margin-top: 0rem;
  margin-left: 0rem;
  text-align: left;
  padding: 0rem;
  height: 5rem;
}

.button:last-of-type {
  margin-bottom: 0;
}

.table-header {
  font-size: larger;
}

.list {
  padding: 1rem;
  max-height: 300px; /* Change to 400. */
  overflow-y: scroll;
}